
legend {
    font-size: larger;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(139, 83, 0);
}

.rotationImage{
    width: 450px;
    float: right;
    border-radius: 3%;
}


.rotationImage{
    -webkit-animation:spin 10s linear infinite;
    -moz-animation:spin 10s linear infinite;
    animation:spin 10s linear infinite;
    
}

/* Permet de définir les étapes qui composent la séquence d'une animation CSS. */
@keyframes spin {
    100% { -webkit-transform: rotateX(360deg); transform:rotateX(360deg); }
    }
/*******************************************************************************/


p {
    font-size: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(3, 83, 97);
}

#inscrip  {
    font-size: larger;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.footer  {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: larger;
    font-style: oblique;
    border: 10px ridge black;
    background-color: whitesmoke;
    border-radius: 4%;
    padding: .5rem;
    display: flex;
    flex-direction: column; 
}

/*table, th, td {
    border-style: solid;
    border-width: 1px;
    border-color: black;
    border-collapse: collapse;
}*/

/*  espacement et alignement dans les cellules */

/*th, td {
    padding: 5px;
    text-align: center;
}

tr:hover {
    background-color: rgb(193, 173, 202);
    
}*/
